% for host in hosts:
    <tr>
        <td>
            <input type="checkbox" value="">
        </td>
        <td>1</td>
        <td class="ip">${ host['ip']}</td>
        <td>${ host['os']}</td>
    </tr>
% endfor